services:
  - type: web
    name: combined_progress_note
    runtime: image
    image:
      url: docker.io/library/nginx:1.27-alpine
    region: Virginia
    healthCheckPath: /healthz
    dockerCommand: nginx -g 'daemon off;' -c /etc/secrets/nginx.conf

  - type: pserv
    name: cmr-app
    runtime: python
    repo: https://github.com/CioneMcQueenResidences/Cione-McQueen-Residences
    region: Virginia
    plan: starter
    buildCommand: pip install -r requirements.txt
    startCommand: streamlit run app.py --server.address 0.0.0.0 --server.port 10001
    envVars:
      - key: PORT
        value: "10001"
